
#sobre-mi {
    background-color: #f8f9fa;
  }
  
  #sobre-mi h2 {
    color: #333;
  }
  
  #sobre-mi p {
    color: #666;
  }
  
  
  #más información {
    background-color: #f4f4f4;
  }
  
  #más información h2 {
    color: #333;
  }
  
  
  #contacto {
    background-color: #e9ecef;
  }
  
  #contacto h2 {
    color: #333;
  }
  #mimascota {
     background-color: aqua;
  }
  